.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login>div>img {
    object-fit: contain;
    height: 150px;
    max-width: 200px;
}

.login>div {
    display: flex;
    flex-direction: column;
}

.login>button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}

.login>button:hover {
    background-color: white;
    color: #2e81f4;
}

.Modal {
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal > p {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}